.app-container {
  padding: 20px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.app-title {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .app-title {
    font-size: 48px;
  }
}
